footer {
    background-color: #23354d;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    p {
        color: white;
        width: 500px;
        line-height: 1.6;
        text-align: center;
        margin-top: 150px;
    }

    .icons {
        

        img {
            height: 8%;
            width: 14%;
            cursor: pointer;
            margin-top: 20px;
            padding: 5px;
        }
    }
}