.future { 
    display: flex;
    flex-direction: row;

    .future_work {
        background-color: #1a1a1a;
        color: white;
        height: 480px;
        width: 680px;
        position: relative;
        line-height: 1.6;

        h1 {
            position: absolute;
            top: 80px;
            left: 90px;
        } 

        p {
            position: absolute;
            top: 130px;
            left: 90px;
            width: 430px; 
        }

        .robots_photos {
            display: flex;
            flex-direction: row;   
            position: absolute;
            top: 230px;
            left: 75px;
            
            img {
                object-fit: cover;
            }
        }
        
    }

    .work {
        background-color: #b9dfdf;
        height: 480px;
        width: 680px;   
    }

}

@media (max-width:800px) {
    .future {
        width: 380px;
        background-color: #1a1a1a;

        .future_work {
            height: 2340px;

            h1 {
                width: 300px;
                font-size: 28px;
                position: absolute;
                top: 30px;
                left: 30px;
            }

            p {
                width: 320px;
                font-size: 18px;
                position: absolute;
                top: 90px;
                left: 30px;
            }

            .robots_photos {
                flex-direction: column;
                margin-top: 250px;
                position: absolute;
                left: 40px;
                img {
                    width: 300px;
                    height: 350px;
                }
            }
        }

        .work {
            height: 2340px;
            margin-top: 300px;
        }

    }
}

@media (max-width:400px) {
    .future {
        width: 400px;
        background-color: #1a1a1a;

        .future_work {
            height: 2650px;

            h1 {
                width: 500px;
                font-size: 35px;
                position: absolute;
                top: 70px;
                left: 50px;
            }

            p {
                width: 320px;
                font-size: 18px;
                position: absolute;
                top: 150px;
                left: 50px;
            }

            .robots_photos {
                margin-top: 330px;
                position: absolute;
                left: 70px;
                img {
                    width: 300px;
                    height: 400px;
                }
            }
        }

        .work {
            height: 2650px;
            margin-top: 350px;
        }

    }
}

