.technology_news {
    display: flex;
    flex-direction: row;
    position: relative;
    height: 600px;

    .news {
        position: absolute;    
        left: 100px;
        top: 140px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        line-height: 1.6;

        h5 {
            font-size: 20px;
        }

        h2 {
            font-size: 48px;
            font-weight: bold;
        }

        p {
            width: 520px;
            font-size: 20px;
        }
    }

    img {
        position: absolute; 
        right: 100px;
        top: 80px;
    }

}