.tenthsection {
    height: 100px;
    background-color: #333333;
    display: flex;
    align-items: center;
    justify-content: center;

    p {
        color: white;
        font-size: 13px;

        a  {
            color: #b9dfdf;
        }  
    }
}