@use 'sass/first';
@use 'sass/second';
@use 'sass/third';
@use 'sass/fourth';
@use 'sass/fifth';
@use 'sass/sixth';
@use 'sass/seventh';

header {
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;

  .menu_icon{
    position: absolute;
    right: 90px;
    top: 17px;
  }

  input {
    position: absolute;
    left: 90px;
    top: 8px;
    height: 40px;
    width: 180px;
    border-width: 1px;
    border-color: #c0c0c0;
    padding-left: 35px;
    background-image: url(assets/img/search.icon.png);
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: 10px 13px;
    
    
  }

}