@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
header {
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
header .menu_icon {
  position: absolute;
  right: 90px;
  top: 17px;
}
header input {
  position: absolute;
  left: 90px;
  top: 8px;
  height: 40px;
  width: 180px;
  border-width: 1px;
  border-color: #c0c0c0;
  padding-left: 35px;
  background-image: url(assets/img/search.icon.png);
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: 10px 13px;
}

.firstsection {
  background-repeat: no-repeat;
  background-image: url(https://images03.nicepage.com/c461c07a441a5d220e8feb1a/95c78e1f97bf5735b1d25ece/CoverStory_robots.jpg);
  background-size: cover;
  height: 730px;
  color: white;
  display: flex;
  flex-direction: column;
}
.firstsection .firstpage {
  position: absolute;
  top: 110px;
  right: 140px;
}
.firstsection .firstpage .text {
  font-family: "Open Sans", sans-serif;
}
.firstsection .firstpage .text h1 {
  font-size: 100px;
  font-weight: bold;
  line-height: 1.2;
}
.firstsection .firstpage .text p {
  font-size: 24px;
  width: 590px;
  line-height: 1.6;
}
.firstsection .firstpage .line {
  height: 130px;
  width: 14px;
  background-color: #b9dfdf;
}

.technology_news {
  display: flex;
  flex-direction: row;
  position: relative;
  height: 600px;
}
.technology_news .news {
  position: absolute;
  left: 100px;
  top: 140px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  line-height: 1.8;
}
.technology_news .news h5 {
  font-size: 20px;
}
.technology_news .news h2 {
  font-size: 48px;
  font-weight: bold;
}
.technology_news .news p {
  width: 520px;
  font-size: 20px;
}
.technology_news img {
  position: absolute;
  right: 100px;
  top: 80px;
}

.future {
  display: flex;
  flex-direction: row;
}
.future .future_work {
  background-color: #1a1a1a;
  color: white;
  height: 480px;
  width: 680px;
  position: relative;
  line-height: 1.6;
}
.future .future_work h1 {
  position: absolute;
  top: 80px;
  left: 90px;
}
.future .future_work p {
  position: absolute;
  top: 130px;
  left: 90px;
  width: 430px;
}
.future .future_work .robots_photos {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 230px;
  left: 75px;
}
.future .future_work .robots_photos img {
  -o-object-fit: cover;
     object-fit: cover;
}
.future .work {
  background-color: #b9dfdf;
  height: 480px;
  width: 680px;
}

@media (max-width: 800px) {
  .future {
    width: 910px;
    background-color: #1a1a1a;
  }
  .future .future_work {
    height: 3400px;
  }
  .future .future_work h1 {
    width: 300px;
    font-size: 30px;
    position: absolute;
    top: 60px;
    left: 50px;
  }
  .future .future_work p {
    width: 600px;
    font-size: 20px;
    position: absolute;
    top: 120px;
    left: 50px;
  }
  .future .future_work .robots_photos {
    flex-direction: column;
    margin-top: 10px;
    position: absolute;
    left: 150px;
  }
  .future .future_work .robots_photos img {
    width: 600px;
    height: 500px;
  }
  .future .work {
    height: 3100px;
    margin-top: 300px;
  }
}
@media (max-width: 400px) {
  .future {
    background-color: #1a1a1a;
  }
  .future .future_work {
    height: 5000px;
  }
  .future .future_work h1 {
    width: 500px;
    font-size: 60px;
    position: absolute;
    top: 60px;
    left: 50px;
  }
  .future .future_work p {
    width: 780px;
    font-size: 40px;
    position: absolute;
    top: 160px;
    left: 50px;
  }
  .future .future_work .robots_photos {
    margin-top: 400px;
    position: absolute;
    left: 100px;
  }
  .future .future_work .robots_photos img {
    width: 700px;
    height: 770px;
  }
  .future .work {
    height: 5000px;
    margin-top: 450px;
  }
}
.fourthpage {
  height: 660px;
}
.fourthpage .therobots {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: 0 0 50px 0;
}
.fourthpage .therobots .CES {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 70px;
  left: 100px;
}
.fourthpage .therobots .CES h1 {
  background-color: #aea16a;
  color: white;
  height: 170px;
  width: 330px;
  font-size: 48px;
  line-height: 1.1;
  padding: 40px 20px 0px 20px;
}
.fourthpage .therobots .CES .robots {
  margin-top: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}
.fourthpage .therobots .man {
  margin: 70px 0 0 484px;
  -o-object-fit: cover;
     object-fit: cover;
}
.fourthpage .therobots .robot_text {
  background-color: #b9dfdf;
  height: 472px;
  width: 360px;
  line-height: 1.6;
  margin: 70px 120px 0 0;
  padding-left: 10px;
}
.fourthpage .therobots .robot_text p {
  color: rgba(0, 0, 0, 0.589);
  font-size: 20px;
  margin: 60px 20px 60px 20px;
}
.fourthpage .learnmore {
  text-align: center;
}
.fourthpage .learnmore a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  background-color: #b9dfdf;
  padding: 15px 25px 15px 25px;
  cursor: pointer;
}
.fourthpage .learnmore a:hover {
  background-color: #a4c7c7;
}

.fifthpage {
  background-color: rgb(49, 48, 48);
  display: flex;
  justify-content: space-around;
  height: 500px;
  align-items: center;
}
.fifthpage h2 {
  color: #aea16a;
  font-size: 25px;
  line-height: 4;
}
.fifthpage p {
  color: white;
  font-size: 20px;
  width: 320px;
  line-height: 1.5;
}
.fifthpage .robotization {
  margin-left: 150px;
}
.fifthpage .industry {
  margin-right: 100px;
}

.sixthpage {
  height: 820px;
}
.sixthpage .trends {
  text-align: center;
  line-height: 2.1;
  margin-top: 40px;
}
.sixthpage .trends h1 {
  color: #aea16a;
  font-size: 48px;
}
.sixthpage .trends p {
  font-size: 20px;
  width: 800px;
  line-height: 1.6;
  margin-left: 280px;
}
.sixthpage .trendrobots {
  display: flex;
  flex-direction: row;
  margin: 100px 0 0 100px;
}
.sixthpage .trendrobots img {
  -o-object-fit: cover;
     object-fit: cover;
}

.seventhpage {
  background-color: #000000;
  height: 500px;
  display: flex;
  flex-direction: row;
}
.seventhpage hr {
  height: 250px;
  width: 15px;
  background-color: #aea16a;
  margin: 130px 0 0 100px;
}
.seventhpage .jeff_bozes {
  color: white;
}
.seventhpage .jeff_bozes img {
  margin: 110px 0 0 40px;
}
.seventhpage .jeff_bozes p {
  font-size: 22px;
  width: 1045px;
  line-height: 1.8;
  margin: 0 0 30px 65px;
}
.seventhpage .jeff_bozes h1 {
  font-size: 30px;
  text-align: end;
  margin: 0 0 0 20px;
}

.eighthpage {
  height: 880px;
  background-color: #b9dfdf;
  display: flex;
  flex-direction: row;
  padding: 90px 100px 0 100px;
}
.eighthpage img {
  width: 100%;
  height: 90%;
  -o-object-fit: cover;
     object-fit: cover;
}
.eighthpage .intelligence_robots {
  background-color: #d7eded;
  width: 456px;
  height: 792px;
}
.eighthpage .intelligence_robots h1 {
  font-size: 50px;
  line-height: 1.2;
  width: 390px;
  margin: 52px 28px 0 28px;
}
.eighthpage .intelligence_robots p {
  font-size: 20px;
  margin: 52px 0 0 28px;
  width: 400px;
  line-height: 1.6;
}
.eighthpage .intelligence_robots .intelligence_learnmore {
  margin: 52px 0 0 28px;
}
.eighthpage .intelligence_robots .intelligence_learnmore a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  background-color: #b9dfdf;
  padding: 15px 30px 15px 30px;
  cursor: pointer;
}
.eighthpage .intelligence_robots .intelligence_learnmore a:hover {
  background-color: #a4c7c7;
}

.ninethpage {
  height: 800px;
  display: flex;
  flex-direction: row;
  padding: 100px 100px 0 100px;
}
.ninethpage .AI_photo img {
  height: 90%;
  width: 95%;
  -o-object-fit: cover;
     object-fit: cover;
}
.ninethpage .perspectives img {
  height: 25%;
  width: 40%;
  float: right;
}
.ninethpage .perspectives h5 {
  font-size: 20px;
  letter-spacing: 1px;
  margin-top: 200px;
}
.ninethpage .perspectives h2 {
  font-size: 45px;
  line-height: 2;
}
.ninethpage .perspectives p {
  font-size: 20px;
  line-height: 1.6;
  width: 530px;
}
.ninethpage .perspectives .perspectives_learnmore {
  margin-top: 40px;
}
.ninethpage .perspectives .perspectives_learnmore a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  background-color: #b9dfdf;
  padding: 15px 30px 15px 30px;
  cursor: pointer;
}
.ninethpage .perspectives .perspectives_learnmore a:hover {
  background-color: #a4c7c7;
}

footer {
  background-color: #23354d;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
footer p {
  color: white;
  width: 500px;
  line-height: 1.6;
  text-align: center;
  margin-top: 150px;
}
footer .icons img {
  height: 8%;
  width: 14%;
  cursor: pointer;
  margin-top: 20px;
  padding: 5px;
}

.tenthsection {
  height: 100px;
  background-color: #333333;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tenthsection p {
  color: white;
  font-size: 13px;
}
.tenthsection p a {
  color: #b9dfdf;
}

* {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}/*# sourceMappingURL=style.css.map */